[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apistar = ">=0.5"
prometheus-client = "*"

[dev-packages]
bumpversion = "*"
pytest = "*"
pytest-cov = "*"
twine = "*"
