[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = "*"
apistar = {git = "https://github.com/encode/apistar.git", editable = true, ref = "level-up"}

[dev-packages]
twine = "*"
pytest = "*"
pytest-cov = "*"
bumpversion = "*"
